<!DOCTYPE html>
<html>
<head>
  <title>Rental Shop</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body >
  <div class="container" >
    <div class="col-md-6">
        <div>
          <article>What is CRM? </article>
          <section>
            CRM software consolidates customer information and documents into a single CRM database so business users can more easily access and manage it. The other main functions of this software include recording various customer interactions (over email, phone calls, social media or other channels
          </section>
        </div>
    </div>
    <div class="col-md-2"></div>
     <div class="col-md-4">
      <h3> Sign up : </h3>
      <form  #form="ngForm"  (ngSubmit)='valid(form)' >      
        <div class="form-group ">
          <label>Full Name :  </label>
          <input class="form-control" ngModel name="fullName" placeholder="Full Name">
        </div>
        <div class="form-group">
          <label>Email : </label>
          <input  name="email" ngModel  class="form-control" placeholder="Email">
        </div>
         <div class="form-group">
          <label>Password : </label>
          <input  type="password"  name="password" ngModel  class="form-control" placeholder="Password">
        </div>
        <div class="form-group">
          <label>Mobile# : </label>
          <input name="mobile"    ngModel  class="form-control" placeholder="Mobile#">
        </div>
        <div class="form-group">
          <label>Property Address :  </label>  
          <input name="propertyAdd"    ngModel  class="form-control" placeholder="Property Address">
        </div>
        <div class="form-group">
          <label>Cities : </label>
          <select name="city"  ngModel  class="form-control" placeholder="City" >
            <option value="">Please select a City</option>
            <option *ngFor="let city of cities"  [value]="city.name">{{city.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label>State : </label> 
          <input type="text" name="state"  ngModel  class="form-control" placeholder="State">
        </div>
        <div class="form-group text-right">
           <button class="btn btn-primary ">submit</button> 
        </div>
      </form>
    </div>
  </div>
</body>
</html>

