<!--The content below is only a placeholder and can be replaced.-->
<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="http://localhost:4200/">CRM</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li class="active"><a href="/register" >Home</a></li>
	      <li><a href="/register">Registration</a></li>
	      <li><a href="/user">User Profile</a></li>
	      <li><a href="#">Under-Development</a></li>
	      <li><a href="#">Under-Development</a></li>
	    </ul>
	  </div>
	</nav>
</body>
</html>
<router-outlet></router-outlet>
